$primary: #8000ff;
$primary-dark: #6900d1;
$primary-darker: #35006a;
$secendary: #ff0093;
$primary-deep: #250060;
$dark: #222222;
$light: #ffffff;
$baseLine: 10px;
$lineRatio: 1.2;
%clearGutter {
  margin: 0;
  padding: 0;
}

%h1 {
  font-style: italic;
  font-size: 3rem;
}

%h2 {
  font-weight: bold;
  font-size: 2.25rem;
}

%h3 {
  font-weight: bold;
  font-size: 1rem;
}

%remark {
  font-size: 0.875rem;
}

@function rhythm($level) {
  @return $baseLine * ceil($level);
} // 10的倍數
@function line($size) {
  @return rhythm($size * $lineRatio / $baseLine);
} // 算行高
@mixin font($size, $line-height: auto) {
  $line: line($size);
  font-size: $size;
  @if $line-height==auto or $line-height < $line {
    line-height: $line;
  } @else {
    line-height: $line-height;
  }
}
